$primary: #fdc000;
$container-max-widths: (
  sm: 540px,
  md: 704px,
  lg: 924px,
  xl: 1140px,
  xxl: 1364px,
);

@import '../../node_modules/bootstrap/scss/functions';
@import '../../node_modules/bootstrap/scss/variables';
@import '../../node_modules/bootstrap/scss/mixins';

@import '../../node_modules/bootstrap/scss/bootstrap';

body {
  width: 100%;
  line-height: 1.4;
  color: $light;
  background-color: #171818;
  font-family: 'Noto Sans KR', 'Black Han Sans', 'Noto Sans JP', 'Roboto', 'Oswald', sans-serif;
  overflow-x: hidden;
  position: fixed;
  top: 0;
  a {
    text-decoration: none;
  }
}

@media all and (min-width: 1200px) {
  .back-to-position {
    opacity: 0;
    transition: 1s;
    &.show {
      opacity: 1;
    }
    &.to-right {
      transform: translateX(-150px);
    }
    &.to-left {
      transform: translateX(150px);
    }
    &.to-top {
      transform: translateY(100px);
    }
    &.to-bottom {
      transform: translateY(-100px);
    }
  }
}
@media all and (max-width: 1199px) {
  .back-to-position {
    opacity: 0;
    transition: 1s;
    &.show {
      opacity: 1;
    }
    &.to-right {
      transform: translateY(100px);
    }
    &.to-left {
      transform: translateY(100px);
    }
  }
}
.show {
  .back-to-position {
    opacity: 1;
    transform: translate(0);
    &.delay-0 {
      transition-delay: 0s;
    }
    &.delay-1 {
      transition-delay: 0.3s;
    }
    &.delay-2 {
      transition-delay: 0.6s;
    }
    &.delay-3 {
      transition-delay: 0.9s;
    }
    &.delay-4 {
      transition-delay: 1.2s;
    }
  }
}
